profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

// use singularity image for hairpin workflow
process {
    withLabel: '!hairpin_.*' {
        container = "/lustre/scratch126/casm/team273jn/lcm/bin/SangerLCMFilteringSingularity_latest.sif"
    }
    withName: 'post_filtering|pileup|cgpVAF_command|cgpVAF_run|sequoia_run|filter_ASRD|hp_run' {
        container = null
    }
}
singularity.autoMounts = true
singularity.enabled = true

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    // inputs
    sample_sheet = null

    // references
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    genome_build               = 'GRCh38'
    snp_database               = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/SNP.vcf.gz" 
    fasta                      = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/genome.fa"
    high_depth_bed             = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/highdepth.bed.gz"
    
    // cgpVAF normals
    cgpVAF_normal_bam          = "/nfs/irods-cgp-sr11-sde/intproj/2480/sample/PDv38is_wgs/PDv38is_wgs.v1.sample.dupmarked.bam"
    cgpVAF_normal_bas          = "/nfs/irods-cgp-sb08-sdc/intproj/2966/sample/PD56034cu/PD56034cu.v2.sample.dupmarked.bam.bas"
    cgpVAF_normal_bai          = "/nfs/irods-cgp-sr13-sdh/intproj/2480/sample/PDv38is_wgs/PDv38is_wgs.v1.sample.dupmarked.bam.bai"
    cgpVAF_normal_met          = "/nfs/irods-cgp-sr13-sdh/intproj/2480/sample/PDv38is_wgs/PDv38is_wgs.v1.sample.dupmarked.bam.met.gz"

    // LCM filtering options
    fragment_threshold  = 4

    // sequoia options
    sequoia_beta_binom_shared               = true
    sequoia_normal_flt                      = null
    sequoia_snv_rho                         = 0.1
    sequoia_indel_rho                       = 0.15
    sequoia_min_cov                         = 10
    sequoia_max_cov                         = 500
    sequoia_only_snvs                       = true
    sequoia_split_trees                     = true
    sequoia_keep_ancestral                  = false
    sequoia_exclude_samples                 = null
    sequoia_cnv_samples                     = null
    sequoia_vaf_absent                      = 0.1
    sequoia_vaf_present                     = 0.3
    sequoia_mixmodel                        = false
    sequoia_min_clonal_mut                  = 35
    sequoia_tree_mut_pval                   = 0.01
    sequoia_genotype_conv_prob              = false
    sequoia_min_pval_for_true_somatic       = 0.05
    sequoia_min_variant_reads_shared        = 2
    sequoia_min_vaf_shared                  = 2
    sequoia_create_multi_tree               = true
    sequoia_mpboot_path                     = './'
    sequoia_germline_cutoff                 = -5
    sequoia_plot_spectra                    = false
    sequoia_max_muts_plot                   = 5000
    sequoia_lowVAF_filter                   = 0
    sequoia_lowVAF_filter_positive_samples  = 0
    sequoia_VAF_treshold_mixmodel           = 0.3

    // boilerplate options
    outdir = null
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false

    // config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // max resource options
    // (defaults only, expecting to be overwritten)
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    validationShowHiddenParams       = false
    validate_params                  = true
    validationS3PathCheck            = false
    validationSkipDuplicateCheck     = false
}

plugins {
  id 'nf-validation@1.1.3'
}

// load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}