params {
  // paths to all reference files for hg38 on the sanger farm
  genome_build = "hg38"
  fasta = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/genome.fa"
  snp_database = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/SNP.vcf.gz"
  cgpvaf_normal_bam = "/lustre/scratch126/casm/team154pc/nb15/shared/2480/PDv38is_wgs/mapped_sample/PDv38is_wgs.sample.dupmarked.bam"
  cgpvaf_high_depth_bed = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/highdepth.bed.gz"
}