params {
  // paths to all reference files for hg38 on the sanger farm
  genome_build = "hg38"
  fasta = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/genome.fa"
  snp_database = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/SNP.vcf.gz"
  cgpVAF_normal_bam = "/nfs/cancer_ref01/nst_links/live/2480/PDv38is_wgs/PDv38is_wgs.sample.dupmarked.bam"
  high_depth_bed = "/lustre/scratch126/casm/team273jn/share/pileups/reference_data/hg38/highdepth.bed.gz"
}