params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    genome_build = "hg38"
    sequencing_type = "WGS"
    sample_sheet = "test/data/sample_sheet.csv"
    outdir = "test/out/"
    reflag = false
}

report.overwrite = true
dag.overwrite = true