params {
    config_profile_name        = 'Test profile, 10 samples'
    config_profile_description = 'Test dataset to check cgpVAF sample batching'

    // Input data
    genome_build = "hg38"
    sequencing_type = "WGS"
    sample_sheet = "test/data/sample_sheet_10samples.csv"
    outdir = "test/out10/"
}

report.overwrite = true
dag.overwrite = true